.cards-container{
  padding: 40px 24px;
  /* background-color: red ;; */
}
main .section.highlight.cards-container {
   background-color: rgb(210, 210, 210) ;
}


.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  border-radius: 25px;
}

.cards .cards-card-body {
  margin: 0px 24px 24px 24px;
}

.cards .cards-card-image {
  line-height: 0;
  padding: 22px 24px 24px 24px;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 18px;
}
